[2014-02-22 06:58] fatih opened #3 "Package name of the tests package"
The package name is currently not `lxc`. Instead it's called `lxc_test`. Usually package names are the same as the base package name. There might be some exceptions which are listed here: http://stackoverflow.com/questions/19998250/proper-package-naming-for-testing-in-go-lang

As I know we can obey the usual way and rename the package to `lxc`. This also would enable to access private variables/id

[2014-02-22 16:03] dshwatrz opened #5 "Running examples/start.go - SIGSEGV: segmentation violation"
Hello,

I have latest LXC git from sources.
I need some advice about running a container via examples/start.go.

I have a busybox container named bb2.
I can start it and stop it successfully via
lxc-start -n bb2
and
lxc-start -n bb2 -k

It is installed in the default library, /var/lib/lxc.

Now I try to start it via examples/start.go (see later) and it fails with SIGSEGV.
Here is what I tried:
use

[2014-02-22 20:10] caglar10ur commented on #3
I ended up with this to leverage testing module to test external side of the package but I've no objections changing it's name to lxc and adding internal test cases as well.

[2014-02-22 20:24] caglar10ur commented on #5
Please use "go build start.go" and use the resulting binary, I haven't checked whether it really makes a difference but that would be my first suspect.

Which distro are you using? I think you are trying to start the container using an unprivileged user (I'm seeing no sudo in front of go) and that causing a problem for you and underlying LXC C API is crashing for some reason.

Would it be possible

[2014-02-22 20:35] fatih commented on #3
Ok, I'll do the changes than. Going to open a pull request.

[2014-02-22 21:06] caglar10ur commented on #3
Hmm a quick observation, I just checked the Go sources and lots of modules (like time, os, sort etc.) uses packagename_test name instead of package.

[2014-02-22 21:18] fatih commented on #3
Yes. I think os and time was amongst the first std packages in Go. It's mixed. Packages like `net` `encoding/xxx`, `crypto` are using base package names. Usually when there is a higher abstraction that makes sense. It's up to you, but I think eventually there will be a time you are going to need the internal private identifiers. I'm open to all options.

[2014-02-22 21:26] caglar10ur commented on #3
I agree, go for it :)

[2014-02-23 07:51] dshwatrz commented on #5
First I reverted start.go to the original one, where the container name is "rubik".
Second, I tried "go build start.go" and used the resulting binary and still the same problem. I am using Fedora 20 and I ran it as root, shameless me  (this is the reason for not seeing sudo in front of go)
Running go build list.go
and then
./list
does show the container:
[root@h examples]# ./list
2014/02/23 09:48:

[2014-02-23 20:20] caglar10ur commented on #5
I don't have a fedora 20 system at this moment to test so I need to ask couple of questions until I download/install one which could take little time.
- What does "lxc-start --version" show to you?
- What's your go version?
- Which kernel are you using? What's your "uname -a" output?
- What's lxc-checkconfig showing to you?

About create's parameters, something like "./create -template ubuntu -arc

[2014-02-24 08:07] dshwatrz commented on #5
Here is the requested data:
In gdb I see:
ERROR: container is not defined

lxc-start --version
1.0.0

go version
go version go1.2 linux/amd64

uname -a
Linux h 3.12.7-300.fc20.x86_64 #1 SMP Fri Jan 10 15:35:31 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

lxc-checkconfig
Kernel configuration not found at /proc/config.gz; searching...
Kernel configuration found at /boot/config-3.12.7-300.fc20.x86_64
---

[2014-02-24 08:26] dshwatrz commented on #5
Hello,
Sorry, in the previous post:
gdb ./start
is not enough since I should specify the container name.
However,
gdb ./start -name bb1
gives
gdb: unrecognized option '-name'
Use `gdb --help' for a complete list of option

Please advice - how should I start the container with gdb?

[2014-02-24 17:10] caglar10ur commented on #5
"sudo gdb ./start" and then "run -name bb1" should do the trick.

[2014-02-24 22:49] #3 closed, assigned to nobody

[2014-02-25 10:01] dshwatrz commented on #5
Here is the output with  gdb ./start" and then "run -name bb1":

 gdb ./start
GNU gdb (GDB) Fedora 7.6.50.20130731-16.fc20
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later http://gnu.org/licenses/gpl.html
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show

[2014-02-27 06:07] caglar10ur commented on #5
Good news I reproduced the problem on Fedora 20 VM, bad news I see no apparent reason LXC to crash. Will investigate more.

[2014-02-27 07:00] dshwatrz commented on #5
Thanks for your response.
Question: Do you think this problem is due to using Fedora ? is there something which is known to work under Ubuntu ? in case there is, I can install Ubuntu on some machine.

[2014-02-27 15:39] caglar10ur commented on #5
I use ubuntu on daily basis and as long as I see bindings works fine there.

[2014-02-27 18:24] caglar10ur commented on #5
I think https://github.com/lxc/go-lxc/commit/ad388f1ca39a930644d290d57e955c850c41bcf8 improved the situation a lot.

As long as I see the only remaining issue is create now which I'm working on

[2014-02-27 19:42] caglar10ur commented on #5
And create problem turned out to be an actual liblxc problem, you need to update your LXC to latest once the patch goes in.

[1] https://lists.linuxcontainers.org/pipermail/lxc-devel/2014-February/008263.html

[2014-02-28 04:45] caglar10ur commented on #5
The patch found its way into LXC repo and I confirmed that create is now working. Beware that the example that provided with this repo is not going to work as Fedora template uses different set of arguments. You may want to try something like following;

[code]

[code]

So based on this I'm closing this bug now...

[2014-02-28 04:48] #5 closed, assigned to caglar10ur

[2014-09-26 20:54] dcramer opened #8 "Missing AppendConfigItem"
Per the Python API, there should be an "append_config_item". Without it I can't see a reliable way to set things like lxc.cgroup.devices.allow which accept multiple values.

[2014-09-28 18:57] caglar10ur commented on #8
Makes sense to me. Let me see what I can do.

P.S: Please don't hesitate to report any other problems/inconsistencies/difficulties that you are having with go-lxc. I would like to hear them even if I cannot address them right away.

[2014-09-28 20:04] caglar10ur commented on #8
By the way forgot to mention, you can achieve the same by just calling SetConfigItem multiple times.

[code]

[code]

[2014-09-29 18:20] dcramer commented on #8
@caglar10ur ah didn't realize that. Will do that for now, thanks!

[2014-09-30 20:00] dcramer opened #9 "Recommended way of getting command success status"
It looks like the Attach/RunCommand helpers dont allow you to pick up on the result of the command.

Ideally we could return an os.ProcessResult, but even just getting an exit code/success status would fill my needs. I'm not familiar with the LXC C-api, but I could look into what's required to make this available.

[2014-09-30 20:30] dcramer commented on #9
The more I look at this, the more I'm confused about how it's not returning an error. The code looks identical to the Python bindings (though I dont understand how Python+C work together), and this seems to imply it would return the error on a non-zero exit code.

https://github.com/lxc/lxc/blob/master/src/python-lxc/lxc.c#L583

[2014-09-30 20:32] dcramer commented on #9
Ok I take it back, the change would be as simple as changing the return value to return (returnCode, error) I imagine.

Any objections to this incompatible API change?

[2014-09-30 21:13] dcramer opened #11 "Wire up Travis CI"
Something as simple as https://github.com/dropbox/changes-client/blob/master/.travis.yml might work.

I'll submit a PR unless someone beats me to it.

[2014-09-30 21:13] fatih commented on #11
Travis doesn't support lxc creation.

[2014-09-30 21:14] dcramer commented on #11
Doh, didn't consider that.

[2014-09-30 22:11] dcramer opened #12 "Support lxc attach options with RunCommand*"
Specifically we should support standard command options such as:
- Environment
- User
- Cwd

User isn't really a high priority as you can sudo, similar with Cwd (just cd .). Passing environment is fairly complex however.

[2014-09-30 22:11] dcramer commented on #12
I'm going to dig into this now and will submit a PR with proposed changes.

[2014-10-01 02:26] caglar10ur opened #14 "We need something like WaitIPAddresses to make sure the container's network is up"
https://github.com/lxc/lxc/blob/master/src/python-lxc/lxc/__init__.py#L326 does something similar so we can mimic it.

[2014-10-01 02:44] #9 closed, assigned to nobody

[2014-10-01 02:55] caglar10ur opened #15 "Rename PutContainer/GetContainer to something makes more sense"
Acquire / Release could be an option.

[2014-10-01 18:00] dcramer commented on #12
What are your thoughts on something like the following for the API:

[code]

So the primary change would be the signature is always args + options. We could also add something like NewAttachOptions to set any defaults that might be needed.

[2014-10-01 18:40] caglar10ur commented on #12
I'm assuming you are proposing this instead your old approach (see below), right?

[code]

If so I think I like this args + options (+NewAttachOptions for defaults) signature more than previous.

[2014-10-01 18:42] dcramer commented on #12
@caglar10ur yeah I am. I think it's a better approach, and if we're gonna break API compatibility it seems reasonable to me.

[2014-10-01 18:56] caglar10ur commented on #12
Oh by the way, would it be possible for you to base your commits on top of v2 branch?

[2014-10-01 19:19] dcramer commented on #12
@caglar10ur regarding the API, do you prefer RunCommand(options, args...) or RunCommand([]args, options) ?

[2014-10-01 19:22] caglar10ur commented on #12
I believe RunCommand([]args, options) makes more sense cause first one allows one to skip args parameter and I don't think that's a valid use.

[2014-10-01 19:24] caglar10ur commented on #12
Oh wait I think I misunderstood something. Are you putting the command name into the options struct?

[2014-10-01 19:25] dcramer commented on #12
@caglar10ur I was planning to put the entirety of the command (same as it is now) in the first param

So:

[code]

[2014-10-01 19:28] caglar10ur commented on #12
@dcramer  OK we are in the same page :)

[2014-10-03 20:45] caglar10ur commented on #14
@dcramer was looking at changes-client to see what you are doing and realized that (because of https://github.com/dropbox/changes-client/blob/f541a16c5c93047513601090ebe5f495136006c7/adapter/lxc/container.go#L125) this could be useful for you. Let me know what you think :)

[2014-10-03 20:45] #14 closed, assigned to caglar10ur

[2014-10-03 20:46] dcramer commented on #14
Yeah this is definitely useful. Thanks!

[2014-10-03 20:47] caglar10ur commented on #15
@dcramer would you oppose me pushing something like this to v2 branch? Do you think naming is appropriate?

[2014-10-03 20:50] dcramer commented on #15
I think this is good. I was confused as to what PutContainer was until I read the doc on it

[2014-10-03 21:23] caglar10ur commented on #15
OK, closing this as I just merged it into v2...

[2014-10-03 21:23] #15 closed, assigned to nobody

[2014-10-05 02:04] caglar10ur commented on #12
I think we now have everything in, closing this...

[2014-10-05 02:04] #12 closed, assigned to caglar10ur

[2014-10-07 01:37] caglar10ur commented on #11
Maybe, we can split tests into two (and maybe mock some stuff too) so that we can run at least some of the tests in travis. I'm re-opening this for future...

[2014-10-11 21:31] caglar10ur opened #24 "Consider using Functional Options"
See http://dotgo.sourcegraph.com/post/99643162983/dave-cheney-functional-options and https://github.com/pkg/term/blob/master/term.go#L22

[2015-01-01 08:47] konobi opened #30 "Typo in lxc.go"
DefaultZfsRoot has a typo in the ConfigItem.

[2015-01-02 05:13] caglar10ur commented on #30
Thanks for the report!

[2015-01-02 05:13] #30 closed, assigned to nobody

[2015-02-12 19:53] stgraber commented on #11
Splitting the testsuite into things that can run on travis and things that can't is usually a good idea. Then we can use the LXC Jenkins to run actual container tests.

[2015-02-12 19:57] stgraber opened #33 "go-lxc fails with gccgo"
I'm looking into gccgo as a way to build LXD for ppc64el and arm64 where gc doesn't work.

So far it looks like most of our code is fine, but go-lxc itself fails when building using gccgo5.

Here's as simple an example as I could come up with:

[code]

[2015-02-12 20:11] stgraber commented on #33
ok, so the main failure can be fixed with the following changes:
- rename lxc.c to lxc-binding.c
- rename lxc.h to lxc-binding.h
- rename lxc.go to lxc-binding.go
- update include in container.go
- update include in lxc-binding.go

I'm now getting:

[code]

Which to me looks like -llxc wasn't passed through to ld somehow.

[2015-02-12 20:20] stgraber commented on #33
Apparently that's because gccgo ignores or fails to parse the pkg-config line, manually setting LDFLAGS fixes it... I'll send a branch with both changes.

[2015-02-12 20:37] #33 closed, assigned to nobody

[2015-02-26 22:02] sigmonsays opened #37 "ConfigItem not returning lxc.network values"
Given the container configuration snippet
    lxc.network.type = veth
    lxc.network.link = lxcbr0
    lxc.network.flags = up
    lxc.network.hwaddr = 00:16:3e:xx:xx:xx

The following go code does not function as expected

container := lxc.NewContainer("example", lxc.DefaultConfigPath())
container.ConfigItem("lxc.network") returns "veth"
container.ConfigItem("lxc.network.type") returns []string{"

[2015-03-11 03:13] syed opened #38 "Ability to set config options directly instead of loading from configfile"
Currently it is not possible to set config options like lxc.network.hwaddr programatically. Is there a reason why? Can this be added?

[2015-03-11 18:12] caglar10ur commented on #38
Not sure I understand the problem. As long as I know, you can set hwaddr manually and if you don't then one will be auto generated for you. Do you have a test case for the problem?

[2015-03-12 03:32] syed commented on #38
Sorry just looked up the code. SetConfigItem is what I was looking for. I could not find that in the examples directory. Can I add one example?

[2015-03-12 15:12] caglar10ur commented on #38
Of course! Please feel free to send a pull request and refer this.

[2015-03-12 15:12] #38 closed, assigned to nobody

[2015-04-16 15:28] tych0 opened #40 "seg fault in Interfaces()"
Hello,

I got the following segfault in Interfaces():

[code]

It might be a liblxc bug, though, investigating more now.

[2015-04-16 15:55] tych0 commented on #40
Ok, I'm going to close this for now. I just rebuilt things with some debugging output and the problem went away, so I'm going to chalk it up to gremlins unless I see it again. Sorry for the noise.

[2015-04-16 15:55] #40 closed, assigned to nobody

[2015-04-16 20:51] syed commented on #37
+1

[2015-04-17 04:38] syed commented on #37
After a bit of debugging I found that using `lxc.network.0.link` works. Was the an old method to address network args? If not, this change should go in the lxc library?

[2015-04-17 06:11] syed commented on #37
Have a PR for this at https://github.com/lxc/lxc/pull/491

[2015-04-17 13:17] caglar10ur commented on #37
Perfect, thank you so much tracking this down @syed. I'll close this and comment your PR on LXC side.

[2015-04-17 13:17] #37 closed, assigned to caglar10ur

[2015-07-08 03:56] jtopjian opened #43 "Implement bdev specs"
I have a simple Terraform provider for LXC and someone [reported](https://github.com/jtopjian/terraform-provider-lxc/issues/4) that they were unable to pass in options such as fstype, fssize, etc.

As seen in the comments, I discovered that the bdev stuff isn't implemented in the go bindings.

How difficult would this be to implement? I'd be happy to give it a shot if someone could point me to som

[2015-07-14 12:38] domitian opened #44 "Package lxc was not found in the pkg-config search path"
Hi,
i am trying to install go-lxc in my ubuntu system with the following command.

[code]

I am getting the following error, even though i installed lxc with 'sudo apt-get install lxc'

[code]

When i do dpkg -l lxc, it is showing up there, but there is no executable by name 'lxc', only lxc-\* are available.
My machine is ubuntu 14.04

[2015-07-14 12:41] jochumdev commented on #44
Think you need to install lxc-dev.

[2015-07-14 17:15] #44 closed, assigned to caglar10ur

[2015-07-14 17:20] caglar10ur commented on #43
Yes, bdev_specs are missing in Go bindings (https://github.com/lxc/go-lxc/blob/v2/container.go#L331). I'm not sure how soon I can attack that so please feel free to work on it!

[2015-08-10 02:14] jhance commented on #43
Basically they just pass a `NULL` where you need to pass bdevspecs. This should be simple to implement, really, and it completely blocks using LVM with these bindings

[2015-09-10 08:26] isage opened #46 "Passing arbitrary strings to stdin of RunCommand"
Hello, basically i'm trying to pass bash script into stdin of "bash --login" running in RunCommand
http://paste.fedoraproject.org/265537/41873246/ "working" example
But all i get is "bash: error reading input file: Is a directory"

[2015-09-10 10:44] isage commented on #46
Oh, i get it. LXC expects real file descriptors, while go io.Pipe provides pseudo-fds.
It works for os.Stdin.Fd() only because numbers match, meh.

[2015-09-10 11:50] isage commented on #46
Or not.
It fails even with Fd from os.Open
Basically, it fails with anything, except os.Stdin

[2015-09-10 12:53] isage commented on #46
http://paste.fedoraproject.org/265620/89528144/ but works in C as expected. Am i missing something?

[2015-09-10 13:10] isage commented on #46
http://paste.fedoraproject.org/265631/41890555 minimal non-working go example. Which starts to work if i remove stdout or stderr redirection.

[2015-09-15 01:09] benoittoulme opened #47 "default user/password?"
Hello,

I ran your example create.go, which creates a container named rubik.
When I start it, I am not able to login properly. I thought default login/password would be ubuntu/ubuntu but it is not the case.

Am I missing something?
Thanks.

[2015-09-15 22:39] caglar10ur commented on #47
You can use LXC-Users mailing lists to ask questions - https://lists.linuxcontainers.org/listinfo/lxc-users

[2015-09-15 22:39] #47 closed, assigned to nobody

[2015-09-22 18:42] benoittoulme commented on #47
Thank you for the link.

[2015-12-23 18:51] caglar10ur commented on #46
@isage paste.fedoraproject.org links are all expired. Could you please attach the non-working example here If you think that's a bug.

[2016-02-10 03:24] RushilPatel opened #54 "go get failing ubuntu 15.10"
go get gopkg.in/lxc/go-lxc.v2 results in below error
# pkg-config --cflags lxc

pkg-config: exec: "pkg-config": executable file not found in $PATH

[2016-02-10 03:34] ranjib commented on #54
[code]

and try again

[2016-02-10 03:50] RushilPatel commented on #54
that worked!
Thanks!!

[2016-02-10 04:15] #54 closed, assigned to nobody

[2016-02-13 09:32] p1gmale0n opened #55 "goimport delete "gopkg.in/lxc/go-lxc.v2""
[goimport](https://godoc.org/golang.org/x/tools/cmd/goimports) deleting import of package:

[code]

[2016-02-13 11:20] p1gmale0n commented on #55
problem with local libs

[2016-02-13 11:20] #55 closed, assigned to nobody

[2016-02-17 04:17] ranjib opened #56 "SetConfigItem creates duplicate entries"
I am trying to use the SetConfigItem api call to change hostname of a container, and I noticed that this results in multiple lxc.utsname entries in the config file. I tried using the ClearConfigItem, but thats failing with "cant clear cgroup item" error message,

[code]

[2016-04-19 01:37] sethdmoore opened #58 "Execute method always fails"
No matter how you invoke it, the Execute method fails.

The example in the v2 branch of the project folder fails, since it does not first create a container

[code]

Here is a code example using NewContainer, Create and Execute method.
Always fails with "container already defined"
https://gist.github.com/sethdmoore/bf4d6e332ec1418c567ddfc9294bd9c6

This is due to the check on these lines: https://

[2016-07-05 21:27] ranjib commented on #56
@caglar10ur @tych0 @stgraber  bump.

[2016-07-05 22:32] stgraber commented on #56
That sounds like expected behavior, sure isn't ideal but it's what the config management code in LXC will indeed do.

Only the last value is used for keys that aren't lists so we just keep appending as doing something else becomes tricky for complex configs which include a bunch of includes.

Certainly isn't pretty but it gets you a valid config nonetheless

[2016-07-05 22:48] #56 closed, assigned to nobody

[2016-09-12 15:56] dijkstracula commented on #11
FYI, a lot seems to have changed with Travis as of late - I am able to get a project that depends on `go-lxc` to run a suite of container-mutating tests inside Travis by riding on the coattails of ["services: -docker"](https://docs.travis-ci.com/user/docker/).  I also had to install `lxc-dev` in the before-install runlist, and then patching around the cgroups issue reported [here](https://github.c

[2016-09-12 21:02] caglar10ur commented on #11
@dijkstracula sounds like a lot changes, yes. It also sounds like you are familiar with those changes. Would you be interested to sending a PR to run go-lxc tests under travis?

[2016-09-23 00:01] dijkstracula opened #66 "Container ops fork child processes that inherit file descriptors"
Dear go-lxc contributors,

I've observed a issue with concurrently creating file descriptors and performing container operations that involve fork/exec under the hood.  I have created a repro case [here](https://github.com/dijkstracula/go-lxc-cloexec-race); for more details, please see below:
### Description

go-lxc has a classic CLOEXEC race where the underlying liblxc C library will,
when we wis

[2016-09-23 20:45] caglar10ur commented on #66
Hey @dijkstracula,

Thank you so much for the super detailed report and also for the sample code to reproduce it!

I'll try to take a look at it but unfortunately I'm crazy busy nowadays :/

Not sure whether double fork would be a solution, need to try it :) @tych0 do you have any suggestions?

[2016-09-26 04:59] tych0 commented on #66
You can set the container's `daemonize` flag via `container.WantDaemonize(true)`, which should invoke liblxc's code to close these fds. It also implies a few other things about forking that you might or might not want, I don't remember exactly the specifics.

We could also replicate `lxc_check_inherited` in golang, but it might make more sense to somehow expose it in a nicer way to liblxc. But may

[2016-09-26 15:46] dijkstracula commented on #66
Thank you, @tych0!  It appears that in the repro case setting `WantDaemonize(true)` seems to avoid the race.  Today I'll backport the "fix" in the service at work (which was, unfortunately, just to shell out to the LXC CLI :( ) and see if that also solves our issue.

Do you reckon that this ought to be the default setting for go-lxc containers?  Is there a reason why application developers would n

[2016-09-26 15:54] tych0 commented on #66
On Mon, Sep 26, 2016 at 08:46:16AM -0700, Nathan Taylor wrote:

Possibly, although someone should look at what the repercussions are
for setting it by default. It implies a bunch of things, and I don't
remember exactly what they are :).

Probably it shouldn't be go-lxc making this decision to change the
default, but liblxc itself, since it is the one providing the C api.

[2016-09-26 16:35] caglar10ur commented on #66
@tych0 @dijkstracula ah sorry for not mentioning that, for some reason I assumed you already tried WantDaemonize. You should also be able set WantCloseAllFds to instruct liblxc to do the same.

[2016-10-03 03:41] dijkstracula commented on #66
Apologies for the delay!

Yes, it turns out WantDaemonize was the thing I wanted; unclear how I kept missing it.

[2016-10-03 03:41] #66 closed, assigned to nobody

[2017-02-10 08:58] mettke opened #74 "go get returns 301"
Running
[code]
returns a 'Moved Permanently' HTTP Code:
[code]

[2017-02-10 18:12] stgraber commented on #74
It's a known issue with gopkg.in and some versions of git.

The workaround they currently give is:

    git config --global http.https://gopkg.in.followRedirects true

There's nothing we can do at the go-lxc level, it's something gopkg.in needs to figure out.

[2017-02-10 18:12] #74 closed, assigned to nobody

[2017-05-04 07:37] towe75 opened #79 "go get fails for 8e4bc27"
Hi,

this morning one of our builds failed. It turned out that a go get go-lxc.v2 does not work anymore.
I can reproduce the problem:

    export GOPATH=/tmp
    root@buildroot-trusty:/# apt-get install -y pkg-config lxc-dev
    Reading package lists... Done
    Building dependency tree
    Reading state information... Done
    lxc-dev is already the newest version.
    pkg-config is already the n

[2017-05-04 08:36] brauner commented on #79
@towe75, yeah we have a PR open that fixes this issue which will be merged later today.

[2017-05-04 11:13] brauner commented on #79
This can be closed. We merged the corresponding PR.

[2017-05-04 11:16] #79 closed, assigned to nobody

[2017-07-26 10:35] aftab-a opened #82 "Shallow copy of container object in Containers(), DefinedContainers() and ActiveContainers()"
We are writing a daemon to monitor health of containers running on our server farm. The daemon was hitting panic at random times. Essentially we are doing the following in a loop :-
func ListLXCInstances() {
    c := lxc.Containers()
    for i := range c {
        //Push container name and state to a central server.
    }
}

Code panics when we were trying to read either state or name from the con

[2017-08-07 06:35] caglar10ur commented on #82
Have you tried calling Acquire (https://github.com/lxc/go-lxc/blob/de2c8bfd65a78752d6a70b4ad99114c6969363b0/lxc-binding.go#L51) ?

[2017-08-31 04:19] hallyn commented on #58
Just a minor correction, you don't actually need to first create the container for execute to work, but you need to provide some configuration, for instance

lxc-execute -n u1 -s lxc.rootfs=./rootfs -s lxc.network.type=none -- /bin/sh

[2017-08-31 04:31] hallyn opened #83 "use c.Start for Execute"
The go-lxc bindings are executing 'lxc-execute' for container execute.  Is there a good reason for not using lxccontainer->start() with  useinit=1?

I see a comment in the code referring to an issue with signals, but chasing down the links it seems the problem should have been fixed some time ago in go?

[2017-08-31 09:53] brauner commented on #83
@hallyn has a good point. Note that `lxc-execute -n <container-name>` **used** to call `lxc_execute()` internally which is actually an unexported symbol. It should not be accessible by the liblxc command line tools themselves. I've sent a patch to change this so from `LXC 2.0.9` and `LXC 2.1` on `lxc-execute` will call `c->start(c, 1, args)`. This made it way more reliable overall. So `go-lxc` sho

[2017-09-16 21:30] caglar10ur commented on #83
I believe the signaling issue is still there unless go runtime changed its internals about how it handles cgo. Testing should be easy though, just start using execute and see whether you end up with problems :P

[2017-09-16 21:48] caglar10ur commented on #82
We could also do following (not tested)

[code]

which also silences the go vet error (shallow copy copies the underlying mutex)

[2017-09-30 17:40] caglar10ur commented on #58
I believe https://github.com/lxc/go-lxc/commit/89b06ca6fad6daea5a72a1f47e69e39716c46198 fixed this issue. Closing now.

[2017-09-30 17:40] #58 closed, assigned to nobody

[2017-10-01 22:25] caglar10ur commented on #82
Now that https://github.com/lxc/go-lxc/pull/86 is merged, I'm closing this

[2017-10-01 22:25] #82 closed, assigned to nobody

[2017-10-01 22:27] caglar10ur commented on #11
I think we can close this now that @brauner's work in (https://travis-ci.org/lxc/go-lxc)

[2017-10-01 22:27] #11 closed, assigned to nobody

[2017-11-06 21:59] brauner opened #92 "console: handle escape character specification"
Currently the console code assumes that the escape character can be simply specified as a rune/char passed into the corresponding C function. But actually `lxc_console()` assumes that `1 == 'a', 2 == 'b'` so you need something similar to this C function in go-lxc:

[code]

[2017-11-09 09:30] brauner opened #94 "container: add ConsoleLog() API extension"
`liblxc` recently received a console ringbuffer and we expose the API since we merged https://github.com/lxc/lxc/pull/1871 . This will be available in `liblxc 3.0`. Hence, `go-lxc` needs to grow the necessary bindings.

[2017-11-09 18:03] #94 closed, assigned to nobody

[2017-11-11 10:32] brauner commented on #83
@caglar10ur, I read through your old signal handling thread with the GO folks. So if signal fd is the problem then any call to liblxc's start functions would cause trouble since they all use a signal fd. So I guess we can just risk it.

[2017-11-11 11:09] brauner commented on #83
Let's just add another API call.

[2017-12-04 22:32] #83 closed, assigned to nobody

[2018-01-17 12:27] skamoen opened #98 "Wait() function isn't blocking"
When running the following code, you expect the Wait call to block until the state has been reached, or the timeout has expired.

[code]

 However, when running this, I get the following output:
[code]
Running lxc-wait manually works fine, so I think it's a problem somewhere in the binding. Running with lxc-2.1

[2018-01-17 14:24] brauner commented on #98
Right, this should be closed by https://github.com/lxc/lxc/pull/2089 .

[2018-01-17 23:44] #98 closed, assigned to nobody

[2018-05-24 17:24] s3rj1k opened #102 "incorrect status code from runCommandStatus"
runCommandStatus should return correct status codes (use of WEXITSTATUS macro)
as lxc-execute does in https://github.com/lxc/lxc/blob/master/src/lxc/tools/lxc_execute.c#L239

#101

[2018-05-26 22:30] #102 closed, assigned to nobody

[2018-05-26 22:30] #46 closed, assigned to nobody

[2018-06-07 15:02] s3rj1k opened #105 "Wrong cgroup file for KernelMemoryLimit"
#104

[2018-06-07 15:09] #105 closed, assigned to nobody

[2018-06-07 16:47] s3rj1k opened #106 "CgroupItem and pids namespace"
How can I get  pids.max from pids cgroup using CgroupItem?

for some strange reason code below does not work:
[code]

[2018-06-08 10:10] s3rj1k commented on #106
issue is with upstream lxc
https://github.com/lxc/lxc/issues/2386
closing

[2018-06-08 10:10] #106 closed, assigned to nobody

[2018-07-08 21:10] cyberwillis opened #107 "undefined reference to `lxc_config_item_is_supported'"
Hi guys...
I just found this issue trying to compile lxd from the sources.

[code]

For the moment I solved by returning `true`

[2018-07-08 21:30] stgraber commented on #107
What version of liblxc were you using?

[2018-07-08 22:16] cyberwillis commented on #107
I am using the latest, also built from source

Appear that all methods needs a structure to been passed for each method and this one doesn't have it.
The go version of this file has it but the C version does not.

[2018-07-09 00:18] stgraber commented on #107
[code]

So this is an exported symbol in LXC 3.0.0.
What does `grep -r lxc_config_item_is_supported /usr/include/lxc/` get you on your system?

I've also confirmed that current go-lxc builds just fine here with liblxc 3.0.1.

[2018-07-09 01:09] cyberwillis commented on #107
the command print this.

`/usr/include/lxc/lxccontainer.h:bool lxc_config_item_is_supported(const char *key);`

I am building it in a virtual machine (VirtualBox Ubuntu 16.04) do you believe that because its a guest on systemd this could in some way present this as a problem ?

Anyway ... I verified that in a Host (instead of Guest machine) the build don't catch this error...

[2018-07-09 01:33] cyberwillis commented on #107
I just found the "behaviour" ...
I have built the liblxc using --prefix=/usr earlier ,,, without this prefix the lxd make don't print this message.

Sorry about about that.

[2018-07-09 01:33] #107 closed, assigned to nobody

[2018-08-21 11:54] restototicoserra commented on #92
inline char etoc(const char c)
{
	/* returns "control code" of given expression */
	return 120 + ((c > 'Z') ? (c - 'a') : (c - 'Z'));
}

[2019-03-23 16:54] angiglesias opened #120 "Support working without template"
The command _lxc-start_ gives the option to use the template "none" that creates a container without template. This feature comes quite handy setting up custom containers without creating a new template and editing the container config and setup the rootfs by other means

[2019-03-24 19:43] #120 closed, assigned to nobody

[2019-04-27 22:42] caglar10ur commented on #24
I still a have strong urge to do this and break the API even after this many year  :) Functional options are (eg; go-grpc style) is really my favorite way.

Maybe we can do that and bump the bindings to v3...

[2019-04-28 12:10] brauner commented on #24
I don't mind so Ack from me. @stgaber, @hallyn?

[2019-04-28 14:50] tomponline commented on #24
@caglar10ur the link above is broken now, but I think you're referring to this article https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis

Sounds good :)

[2019-04-28 20:52] caglar10ur commented on #24
@tomponline that is correct. go-grpc also uses that technique and the more I use it over the years the more I started to appreciate it. I don't know how would look like or fit into go-lxc but I'll give it a go in a branch and ping you to see what do you think about it before going ahead and changing everything.

[2019-04-29 17:01] sometimescool22 opened #125 "ERROR: Creating container faled + other error"
Container noob here. Trying to run a modified version of the Create example. Here's my code:

[code]

But I'm getting `ERROR: creating the container failed`. I'm on Pop OS (based on Ubuntu 19.04) and have installed lxd with apt follow [this](https://tutorials.ubuntu.com/tutorial/tutorial-setting-up-lxd-1604#1). I'm able to start a container with `lxc start ubuntu`.

Also, the Console example fails

[2019-04-29 18:41] stgraber commented on #125
`go-lxc` drives `liblxc` which is the low level C container runtime, it does not interact with LXD which is one level up from `go-lxc`.

It sounds like you want to create and interact with LXD containers, to do so, you want to use the LXD REST API and its own Go module at https://godoc.org/github.com/lxc/lxd/client

[2019-04-30 19:45] sometimescool22 commented on #125
Ah, ok. Thanks.

[2019-04-30 19:45] #125 closed, assigned to nobody

[2019-06-09 14:42] xmcqueen opened #129 "DefaultConfigPath not consistent with GetConfigPath and SetConfigPath"
DefaultConfigPath in the lxc-binding is setting the path to the container root.

[code]

It seems to be used consistently for this purpose, its in all the examples and seems to be working perfectly.  However, its confusing because in container.go I'm seeing SetConfigPath described as being used to set the configuration file's path - not the container root - which it does via go_lxc_set_config_path

[2019-06-09 23:01] xmcqueen commented on #129
I see, there's another config in the container root.

[2019-06-09 23:01] #129 closed, assigned to nobody

[2019-10-11 11:48] onlyjob opened #132 "tag semantic releases"
Please consider tagging formal semantic releases.

Thanks.

[2019-10-11 13:22] stgraber commented on #132
We don't have a plan to do so at this time.
liblxc itself is versioned but go-lxc is made to work with all stable versions of liblxc and so doesn't need to follow its versioning.

Major API breaks do lead to version bumps on go-lxc though, as can be seen by the current version being v2.

[2019-10-11 13:22] #132 closed, assigned to nobody

[2019-10-11 15:39] onlyjob commented on #132
This is so projects depending on this library (e.g. _nomad-driver-lxc_) could refer to it by proper release version.
Not every commit is compatible and API breakage already happened here.

[2019-10-11 16:14] stgraber commented on #132
Most of the Go pinning tools work with hashes, so you can always pin on what you've last tested.

[2019-10-28 05:36] adam-hanna opened #134 "starting the container failed"
I'm trying to follow a few of the basic examples but am getting an error, `starting the container failed`.

Here's my simple program:

[code]

Here's what I get when I try to run this program:

[code]

Here's the log file:
[code]

I'm on Fedora 30, before running I installed the following:
`$ sudo dnf install lxc lxc-templates lxc-devel lxc-extra dnsmasq debootstrap libvirt perl gpg`

Here's my in

[2019-10-28 08:01] stgraber commented on #134
[code]

So looks like your user isn't allowed to unshare some namespaces, my guess would be the user namespace. It's possible to set restrictions on those in /proc/sys. Look for `unprivileged_userns_clone` and `/proc/sys/user/max_*_namespaces`.

[2019-10-28 08:38] adam-hanna commented on #134
Interesting. I'll take a look tomorrow. Thanks for your help.

I did try compiling and running the binary as sudo and also received an error.

[2019-10-28 22:16] adam-hanna commented on #134
I'm still investigating, but as an fyi ...

[code]

[2019-10-29 01:36] adam-hanna commented on #134
I ran the following commands and seemed to make a little progress:

[code]

Then the following commands:

[code]

And that gave me the following log file. Looks like it's failing to create / mount directories.

[code]

[2019-10-29 07:58] stgraber commented on #134
[code]

That's the new error. What's in your container config?

[2019-10-29 17:45] adam-hanna commented on #134
Interestingly, I added this line: `log.Println(lxc.DefaultConfigPath())`, which points to this path: `/home/vagrant/.local/share/lxc`. However:

[code]

Based on the above, I'm not sure what config the script is using.

[code]

If I change my program such that:

[code]

Then:

[code]

Still getting the same error: `ERROR    conf - conf.c:lxc_setup_dev_console:1746 - Failed to mount "/dev/pts/2" on

[2019-10-29 17:58] adam-hanna commented on #134
Ok, now I'm getting something slightly different. I added the following line to be sure it was loading the default config: `c.LoadConfigFile("/etc/lxc/default.conf")`. Which is strange, because now I'm getting a different output from `log.Println(lxc.DefaultConfigPath())`: `/var/lib/lxc`.

Now, I'm getting an error about creating namespaces:

[code]

These are the important bits...

[code]

[2019-10-30 13:09] notnoop opened #135 "Version checking checks compile time version rather than runtime"
Many of version checking related functions (e.g.
[`lxc.VersionNumber`](https://godoc.org/gopkg.in/lxc/go-lxc.v2#VersionNumber), [`lxc.VersionAtLeast`](https://godoc.org/gopkg.in/lxc/go-lxc.v2#VersionAtLeast), [`VERSION_AT_LEAST`](https://github.com/lxc/go-lxc/blob/79d3cbb2d58e61204c82bfa17d3f1bfca851210c/lxc-binding.h#L5-L8) ` refer to the lxc versions present at compile time in build host rather

[2019-11-01 03:17] adam-hanna commented on #134
ok, more progress. I still can't seem to use networking, even as root.

Here's my config file, now:

[code]

Here's the log file, now:

[code]

The error that causes the crash:
[code]

Still debugging on my end. Thanks for your help.

[2019-11-01 10:11] stgraber commented on #134
That's odd, that error is normally associated with you attempting an Execute() call rather than a Start() call.

Start() should be looking for /sbin/init in your container's rootfs and execute that, if missing, maybe it would cause the error above.

[2020-04-14 19:47] stgraber commented on #134
@adam-hanna any progress on this?

[2020-04-14 22:41] adam-hanna commented on #134
@stgraber sorry but no. I couldn't get it working so went another route. Feel free to close for now.

[2020-04-15 00:38] #134 closed, assigned to nobody

[2020-08-04 19:46] #43 closed, assigned to nobody

[2021-02-26 16:11] 3lding opened #147 "Failed to create loopback storage"
Hello

I tried to spawn an lxc container with a loopback storage device as backend type.
But it failed to create the storage device.
Following lines were logged:

[code]

For creating an instance I copied the ``examples/create.go`` and modified the function ``init()`` inside it:

[code]

I tried this on Ubuntu 20.04 as well as on Debian 10.8 with Go 1.16/1.15.7 and both resulted with the same erro

[2021-03-07 20:10] #147 closed, assigned to nobody

[2021-05-26 07:34] r10r opened #155 "Import path to gopkg.in/lxc/go-lxc.v2 breaks module replacement"
Hi there,

I noticed that the import path  `gopkg.in/lxc/go-lxc.v2` (proposed by the readme)  breaks module replacement.

I used the import path `gopkg.in/lxc/go-lxc.v2` in lxcri.
E.g to test lxcri against a development go-lxc remote branch I change the import path in go.mod:

[code]

When refreshing go.mod  I get the following error:

[code]

After changing the import path to `github.com/lxc/go-l

[2021-05-26 13:55] stgraber commented on #155
Does that work properly with pre-gomod setups? I thought we had to use gopkg.in because we couldn't have Go import from a branch prior to go modules becoming a thing.

[2021-05-26 18:32] r10r commented on #155
Changing the README shouldn't affect pre-gomod setups unless someone decides to update the import itself.
But I think new projects should definitely use `github.com/lxc/go-lxc` as import.
I noticed that you have already changed the import path of the examples in https://github.com/lxc/go-lxc/commit/e866d78e65486b1ef02445169d9ce6391dccf13a
What about adding  a notice then ? e.g

[2021-05-27 00:53] stgraber commented on #155
Oh sorry, wasn't very awake this morning. Yeah, README is fine too update, there are very few people who won't be using go mod and those will know what to do anyway.

[2021-05-27 06:30] r10r commented on #155
Well, I'll send a pull request then.

[2021-06-07 16:37] r10r commented on #155
Thanks for merging!

[2021-06-07 16:37] #155 closed, assigned to nobody

[2021-10-17 12:41] kwanhur opened #159 "Build failed when specify ldflags -static"
Installed lxc-libs lxc-devel on CentOS7, couldn't find any static link infos with `pkg-config --static lxc`

go build errors:

[code]

relate versions:
- lxc-libs-1.0.11-2
- lxc-devel-1.0.11-2
- go1.15.5 linux/amd64

[2021-10-18 01:58] stgraber commented on #159
That'd be an issue with your distribution, if they don't ship the .a/.la files needed for static compilation, then downstream users like go-lxc can't find them.

Not that I'd actually ever recommend statically building liblxc, it's completely untested and quite scary from a security point of view.

[2021-10-18 01:59] #159 closed, assigned to nobody

[2022-03-24 16:21] DeathsGun opened #160 "create example not working"
I tried running the `create/create` example and got the following output:

[code]

Even tough i have set up the uid mapping in `~/.config/lxc/default.conf`:
`cat ~/.config/lxc/default.conf`
[code]

When using `lxc-create -t download test` then it will create the container like expected.

`lxc-checkconfig` Output
[code]

`go env` output:
[code]

[2022-04-06 21:54] sblinch opened #161 "Create fails when custom dir is specified; possible use-after-free?"
Create exhibits unexpected behavior if you specify a custom options.BackendSpecs.Dir. I've made this simple modification to examples/create/create.go:
[code]

This results in:
[code]

The created config file then contains:
[code]

It seems that the list of arguments internally passed to liblxc somehow gets out-of-sync with what liblxc is expecting.

I haven't had a chance to track down the definit

[2022-04-22 21:01] tox2ik commented on #160
likely this:

- https://linuxcontainers.org/lxc/getting-started/

e.g.

     usermod -v 1000000-1065535  jaro

[2022-06-23 10:52] eraserix opened #162 "HasAPIExtension does not work because liblxc version check is broken"
On Ubuntu 22.04, liblxc has version reports version 5.0.0~git2209-g5a7b9ce67-0ubuntu1. The "~git..." part breaks the version check in runtimeLiblxcVersionAtLeast(), it always returns false.

LXD has a [copy of the same function](https://github.com/lxc/lxd/blob/75160b6467dfa7d2ecea031c7eb38fd15e23ebf9/lxd/instance/instance_utils.go#L1255) with a fix for exactly this problem.

[2022-06-23 11:01] tomponline commented on #162
We should update this function and then get lxd to use it to avoid duplication.

[2022-06-27 13:06] #162 closed, assigned to nobody

[2022-09-23 13:33] Gictorbit opened #165 "How to create new virtual machine?"
Since `lxc` supports virtual machines as well as containers, is it possible to create a new vm using vm images?

[2022-09-23 13:59] stgraber commented on #165
This is the `go-lxc` repo which is the binding for the low-level liblxc library. That library only handles containers.
What you're referring to is LXD's virtual machine support which uses QEMU to run virtual machines.

To do so, you need a running LXD daemon, then to drive it from Go, you can use the Go client for LXD (https://pkg.go.dev/github.com/lxc/lxd/client)

[2022-09-23 13:59] #165 closed, assigned to nobody

[2022-09-23 14:02] Gictorbit commented on #165
Oh I see, thank you for your quick reply